@model IEnumerable<ScoresMVC.Models.tblMatch>

@{
    ViewBag.Title = "ViewPage1";
}

<h2>ViewPage1</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            League
        </th>
        <th>
            HomeTeam
        </th>
        <th>
            AwayTeam
        </th>
        <th>
            MatchDate
        </th>
        <th>
            HomeScore
        </th>
        <th>
            AwayScore
        </th>
        <th>
            Field
        </th>
        <th>
            LastUpdate
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.League)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HomeTeam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AwayTeam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MatchDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HomeScore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AwayScore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Field)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastUpdate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
